.App {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #a9caeb;
  color: #002b5b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  padding-top: 70px; /* To avoid navbar overlap */
}

h2 {
  text-align: center;
  margin-top: 50px;
  color: #004e92;
}
