.App {
  font-family: 'Montserrat', 'Poppins', Arial, sans-serif;
  background-color: #a9caeb;
  color: #002b5b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  width: 100% auto;
  height: 100%;
  flex: 1;
  padding-top: 15px; /* To avoid navbar overlap */
}

h2 {
  text-align: center;
  margin-top: 50px;
  color: #004e92;
}
