.navbar {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 1400px;
  height: 70px;
  background: rgba(0, 0, 0, 0.95);
  backdrop-filter: blur(10px);
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Montserrat', 'Poppins', Arial, sans-serif;
  border-radius: 50px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 0 25px;
}


.logo {
    padding-left: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
  color: #ffffff;
}

.logo a {
  text-decoration: none;
  color: #ffffff;
}

.nav-links {
    padding: 0 20px;
  list-style: none;
  display: flex;
  gap: 25px;
  
}

.nav-links li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.3s ease;
  position: relative;
}

.nav-links li a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #4fd1c5;
  transition: width 0.3s ease;
}

.nav-links li a:hover::after {
  width: 100%;
}

.login-btn {
  padding-right: 3rem;
  font-size: large;
  margin-right: 20px;
  padding: 8px 18px;
  border: none;
  border-radius: 20px;
  background: #5cb1e9;
  color: #002b5b;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.login-btn:hover {
  background: #38b2ac;
}

@media (max-width: 768px) {
  .navbar {
    top: 10px;
    width: 95%;
    padding: 0 15px;
  }
}
